color: #f15f24;

  font-size: 2rem;

  margin-bottom: 1rem;

}



p {

  font-family: 'Times New Roman', Times, serif;

  color: #86dabd;

  font-size: 1.1rem;

  margin-bottom: 2rem;

}





/* DRAGGABLE SYMBOL BANK */

.drag-bank {

  display: flex;

  justify-content: center;

  gap: 1rem;

  flex-wrap: wrap;

  margin-bottom: 2rem;

  position: relative;

  z-index: 10;

  min-height: 70px;

}



.draggable {
  width: 60px;
  height: 60px;

  object-fit: contain;
  cursor: grab;
  z-index: 20;
  touch-action: none;
}

.draggable.dragging {
  opacity: 0.5;
}


/* BACKGROUND CONTAINERS */

.background {

  position: relative;

  display: block;

  margin: 0 auto;

  width: 100%;

  max-width: 800px;

  aspect-ratio: 1 / 1;

  z-index: 1;

  border: 2px solid #86dabd;

  border-radius: 10px;

  margin-bottom: 2rem;

}



.background img {

  width: 100%;

  height: 100%;

  object-fit: cover;

  display: block;

  border-radius: 10px;

}



/* DROP ZONES */

.drop-zone {
